<li>
	{{burger}}

	{{#if devoured}}
	<button class="order-another" data-id="{{id}}">
		ORDER ANOTHER ONE!
	</button>
	{{else}}
	<button class="devour" data-id="{{id}}">
		DEVOUR TIME!
	</button>

	<button class="delete-burger" data-id="{{id}}">
		TRASH CAN
	</button>

	<div>
		<input type="text" id="nc{{id}}" name="customer" placeholder="Customer">
	</div>

	{{/if}}

</li>